* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Card {
  margin-top: 20px;
  padding: 8px;
  border-radius: 12px;
  border: 2px solid #191919;
}